:host {
  display: flex;
  align-items: center;
  opacity: 0;
  transition: opacity .4s;

  &.reveal {
    opacity: 1;
  }
}

.icon {
  font-size: 1.2rem;
  margin-right: .2rem;
  color: rgba(0, 0, 0, 0.54);
}

.temperature {
  font-weight: 300;
}
