@import '../shared/global.scss';

:host {
  display: flex;
}

:host.editing {
  .editable-label,
  .spacer {
    display: none;
  }

  form {
    flex-grow: 1;
  }
}

.editable {
  flex-basis: auto;
}

.spacer {
  flex-grow: 1;
}

.editable-editor {
  display: none;
  padding: 0;
  margin: 0;
  width: 100%;

  &.mui-textfield > input {
    font-size: inherit;
    border-bottom: none;
    height: auto;
    margin-bottom: 0 !important;

    color: $mui-primary-color;
    text-shadow: 0px 0px 0px #000;
    -webkit-text-fill-color: transparent;
  }

  :host.editing & {
    display: inline-block;
  }
}
