<li class="task">
  <div class="task-heading">
    <h1 class="task-title">{{task.title}}</h1>
    <div class="task-controls">
      <input type="checkbox" id="isPrioritised" [checked]="task.isPrioritised" (change)="prioritise()">
      <div class="btn" (click)='removeTask()'>
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      </div>
      <input type="checkbox" id="isComplete" [checked]="task.isComplete" (change)="markComplete()">
    </div>
  </div>
  <div class="task-detail">
    <i class="fa fa-clock-o" aria-hidden="true"></i> <time>{{task.dueDate | date: 'shortTime'}}</time>
    <i class="fa fa-clock-o" aria-hidden="true"></i> <time>{{task.createdDate | date: 'shortTime'}}</time>
  </div>
</li>
