@import '~reset-css/reset';

@mixin icon-btn($size) {
  md-icon {
    display: block;
    font-size: inherit;
    text-align: center;
    width: $size;
    height: $size;
    line-height: $size;
  }
}

$icon-size: 1.5rem;
$details-font-size: .84rem;

:host {
  cursor: pointer;
  font-size: 100%;
  opacity: .8;
  transition: opacity .2s;

  &.done {
    opacity: .5;
  }
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.details {
  @include icon-btn($icon-size);
  font-size: $details-font-size;
  opacity: 0;
  max-height: 0px;
  transition: max-height .4s ease-out, opacity .2s;

  .row {
    margin: .5rem 0;
  }

  &.reveal {
    opacity: 1;
    max-height: 600px;
  }

  md-icon {
    font-size: 1.2rem;
  }

  .input-subtask {
    flex: 1 auto;
    margin: -1rem auto;
  }
}

.checklist {
  padding-top: 0;
}

.checklist-item {
  @extend .row;
  flex: 1 auto;
  justify-content: space-between;
  font-size: $details-font-size;

  /deep/ .md-checkbox-inner-container {
    height: 1rem;
    width: 1rem;
    margin: auto .25rem;
  }
}

.checkbox-label {
  opacity: 1;
  transition: opacity .2s;
  .checklist-item.done & {
    opacity: .5;
    text-decoration: line-through;
  }
}

.btn-delete-subtask {
  color: #e32300;
  opacity: 0;
  transition: opacity .4s .2s;
  .checklist-item:hover & {
    opacity: 1;
  }
}

header {
  background: #fff;
  font-size: 1.2rem;
  margin: 1rem 0;
  transition-property: font-size, margin;
  transition-duration: .2s;

  :host.done & {
    font-size: 1rem;
    margin: .5rem 0;
  }
}

.title {
  flex: 1 auto;
  :host.done & {
    text-decoration: line-through;
  }
}

.btn-prioritise {
  @include icon-btn($icon-size);
  font-size: $icon-size;
  opacity: 0;
  width: 0;
  transition: opacity .2s, color .2s, width .4s ease-out;

  :host.expanded & {
    opacity: .25;
    width: $icon-size;
  }

  &.reveal {
    color: #e32300;
    opacity: .8;
    width: $icon-size;
  }
}

.btn-mark-complete {
  @include icon-btn(1.5rem);
  md-icon {
    opacity: .5;
    :host.done & {
      color: #00b227;
      opacity: 1;
    }
  }
}
