<div class="wrapper">
  <div class="btn-prioritise" [class.show]="task.isPrioritised"
    (click)="togglePrioritised()">
    <md-icon>priority_high</md-icon>
  </div>
  <h2 class="task-title">{{task.title}}</h2>
</div>
<div class="task-heading">
  <div class="task-action">
    <!-- <div class="btn" (click)='removeTask()'>
      <i class="fa fa-trash-o" aria-hidden="true"></i>
    </div> -->
    <input type="checkbox" class="isCompleted" [checked]="task.isCompleted" (change)="markCompleted()">
  </div>
</div>
<div class="task-detail" style="display:none;">
  <i class="fa fa-clock-o" aria-hidden="true"></i> <time>{{task.dueDate}}</time>
</div>
