@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import '~reset-css/reset';

@mixin icon-btn($size) {
  md-icon {
    display: block;
    font-size: inherit;
    text-align: center;
    width: $size;
    height: $size;
    line-height: $size;
  }
}

:host {
  cursor: pointer;
  font-size: 100%;
}

.wrapper {
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 0;
  transition-property: font-size, padding, opacity;
  transition-duration: .2s;

  &.done {
    font-size: 1rem;
    opacity: .5;
    padding: .5rem 0;
  }
}

.title {
  background: #fff;
  opacity: .8;
  flex: 1 100%;

  .wrapper.done & {
    text-decoration: line-through;
  }
}

.btn-prioritise {
  $reveal-width: 1.2rem;
  @include icon-btn($reveal-width);
  opacity: 0;
  width: 0;
  transition: opacity .2s, color .2s, width .4s ease-out;

  :host:hover & {
    opacity: .25;
    width: $reveal-width;
  }

  &.show {
    color: #e32300;
    opacity: .8;
    width: $reveal-width;
  }
}

.btn-mark-complete {
  $dimension: 1.2rem;
  @include icon-btn($dimension);

  md-icon {
    display: none;
    opacity: .5;

    &.show {
      display: block;
    }

    .wrapper.done &.show {
      color: #00b227;
      opacity: 1;
    }
  }
}
