<header class="row">
  <div class="btn-prioritise" [class.reveal]="task.isPrioritised" (click)="togglePrioritised()">
    <md-icon>priority_high</md-icon>
  </div>
  <h2 class="title" (click)="toggleDetailPane()">{{task.title}}</h2>
  <div class="btn-mark-complete" (click)="toggleCompleted()">
    <md-icon *ngIf="!task.isCompleted">radio_button_unchecked</md-icon>
    <md-icon *ngIf="task.isCompleted">lens</md-icon>
  </div>
</header>
<section class="details" [class.reveal]="isExpanded">
  <div class="row">
    <md-icon>alarm</md-icon>
  </div>
  <md-list class="checklist">
    <md-list-item class="row" *ngFor="let item of task.checklist">
      <md-checkbox [(ngModel)]="item.isCompleted">
        {{item.title}}
      </md-checkbox>
    </md-list-item>
  </md-list>
  <form class="row" (submit)="addSubtask(subtask)">
    <md-icon>add</md-icon>
    <md-input style="margin-left: .3rem" placeholder="Add a subtask"
      [floatingPlaceholder]="false" [(ngModel)]="subtask.title"></md-input>
    <md-icon></md-icon>
  </form>
  <div class="row">
    <md-icon>content_paste</md-icon>
  </div>
</section>
