@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import '~reset-css/reset';

@mixin icon-btn($size) {
  md-icon {
    display: block;
    font-size: inherit;
    text-align: center;
    width: $size;
    height: $size;
    line-height: $size;
  }
}

:host {
  cursor: pointer;
  font-size: 100%;
  opacity: .8;
  transition: opacity .2s;

  &.done {
    opacity: .5;
  }
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.details {
  @include icon-btn(1.5rem);
  height: 0;
  opacity: 0;
  transition: height .4s ease-out;

  &.reveal {
    opacity: 1;
    height: 120px;
  }
}

header {
  background: #fff;
  font-size: 1.2rem;
  padding: 1rem 0;
  transition-property: font-size, padding;
  transition-duration: .2s;

  :host.done & {
    font-size: 1rem;
    padding: .5rem 0;
  }
}

.title {
  flex: 1 auto;
  :host.done & {
    text-decoration: line-through;
  }
}

.btn-prioritise {
  $reveal-width: 1.5rem;
  @include icon-btn($reveal-width);
  opacity: 0;
  width: 0;
  transition: opacity .2s, color .2s, width .4s ease-out;

  :host.expanded & {
    opacity: .25;
    width: $reveal-width;
  }

  &.reveal {
    color: #e32300;
    opacity: .8;
    width: $reveal-width;
  }
}

.btn-mark-complete {
  @include icon-btn(1.5rem);
  md-icon {
    opacity: .5;
    :host.done & {
      color: #00b227;
      opacity: 1;
    }
  }
}
