:host {
  display: block;
  max-width: 480px;
  margin: 0 auto;
}

.row {
  display: flex;
  align-items: baseline;
}

md-card-title {
  flex: 1 auto;
}

.progress {
  font-size: .8rem;
  color: rgba(0, 0, 0, 0.54);
}
