<task-finder (change)="updateQuery($event)"></task-finder>
<md-list class="tasks-list" [class.reveal]="incompletedTasks.length">
  <md-list-item *ngFor="let task of incompletedTasks">
    <task [task]="task" (expand)="handleTaskExpand($event)"></task>
  </md-list-item>
</md-list>
<div class="btn-container" [class.reveal]="completedTasks.length">
  <button (click)="toggleCompletedTasks()"
    class="mui-btn mui-btn--small mui-btn--primary">
    {{!showCompletedTasks ? 'Show' : 'Hide'}} completed tasks
  </button>
</div>
<md-list class="tasks-list" [class.reveal]="showCompletedTasks">
  <md-list-item *ngFor="let task of completedTasks">
    <task [task]="task" (expand)="handleTaskExpand($event)"></task>
  </md-list-item>
</md-list>
