@import '../shared/global.scss';

md-list-item /deep/ .md-list-item {
  padding: 0;
  height: auto;
}

md-list-item task {
  flex: 1 auto;
}

.tasks-list {
  @include reveal(999px);
  overflow: visible;
}

.btn-container {
  @include reveal();
  text-align: center;
}
