@import '../shared/global.scss';

md-list-item /deep/ .md-list-item {
  padding: 0;
  height: auto;
}

md-list-item task {
  flex: 1 auto;
}

.list-completed-tasks {
  display: none;

  &.reveal {
    display: block;
  }
}

.btn-show {
  font-size: .8rem;
}
